
body {
    background: #00ADDD;
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    z-index: 100;
    color: white;
    background: #00CFFF;
    width: 80%;
    height: 30px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Cinzel, serif;
    font-weight: bold;
    margin: 30px 0 0 0;
    border: 2px #00BEEE solid;
    box-shadow: 0 -2px 3px 1px rgba(0, 0, 0, 0.1);
}

nav > a {
    display: table;
    background: #00DFFF;
    height: 38px;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px #00BEEE solid;
    box-shadow: 0 -1px 3px 1px rgba(0, 0, 0, 0.1);
}

nav > a:not([href="#"]):hover {
    background: #00CFFF;
}

nav > a:not([href="#"]):active {
    background: #00BFFF;
    height: 40px;
    width: 82px;
}

nav > a > span {
    height: 100%;
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

nav > a[href="#"] {
    height: 40px;
    width: 82px;
    cursor: default;
}

main {
    background: white;
    width: 78%;
    height: 100%;
    margin: 0 0 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 3px #00BEEE solid;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
}

img#kyoku-avatar {
    z-index: 2;
    border: 3px #00BEEE solid;
    border-radius: 50%;
    box-shadow: 0 -2px 5px 3px rgba(0, 0, 0, 0.1);
}

div#kyoku-text {
    background: #00CFFF;
    height: 60px;
    width: 180px;
    padding-left: 60px;
    margin: 0;
    position: relative;
    left: -48px;
    color: white;
    font-family: Play, sans-serif;
    font-size: 40px;
    text-align: left;
    line-height: 60px;
    overflow: hidden;
    border: 3px #00BEEE solid;
    box-shadow: 0 -1px 3px 1px rgba(0, 0, 0, 0.1);
    animation-duration: 1s;
    animation-name: intro-banner;
}

div#kyoku-text::after {
    content: "";
    z-index: 3;
    background: yellow;
    width: 50px;
    height: 50px;
    margin: 0;
    position: absolute;
    top: 0;
    right: -25px;
    transform: rotate(45deg);
    border: 5px #DDDD00 solid;
    border-radius: 15px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
}

@keyframes intro-banner {
    from {
        width: 0;
    }

    to {
        width: 180px;
    }
}

@media only screen 
    and (min-width: 501px)
    and (max-width: 700px) {
        img#kyoku-avatar {
            z-index: 1;
            width: 200px;
            position: relative;
            top: 16px;
        }

        main {
            flex-direction: column;
        }

        div#kyoku-text {
            z-index: 2;
            width: 90px;
            height: 30px;
            position: relative;
            top: -17px;
            left: 0;
            padding: 0 12px 0 12px;
            text-align: center;
            line-height: 30px;
            font-size: 25px;
        }

        div#kyoku-text::after {
            visibility: hidden;
        }

        @keyframes intro-banner {
            from {
                width: 0;
            }

            to {
                width: 90px;
            }
        }
}

@media only screen
    and (min-width: 501px)
    and (max-width: 700px)
    and (max-height: 500px) {
        img#kyoku-avatar {
            width: 150px;
        }
}

@media only screen and (max-width: 500px) {
    nav {
        width: 100%;
    }

    main {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img#kyoku-avatar {
        width: 180px;
    }

    div#kyoku-text {
        width: 60px;
        height: 180px;
        top: -8px;
        left: 0;
        padding: 5px 0 5px 0;
        font-size: 30px;
        line-height: 60px;
        text-align: center;
        writing-mode: tb-rl;
        text-orientation: upright;
        box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    }

    div#kyoku-text::after {
        visibility: hidden;
    }

    @keyframes intro-banner {
        from {
            height: 0;
        }

        to {
            height: 180px;
        }
    }
}

/* @media only screen and (max-height: 400px) {
    img#kyoku-avatar {
        z-index: 1;
        width: 150px;
        position: relative;
        top: 16px;
    }

    main {
        flex-direction: column;
    }

    div#kyoku-text {
        z-index: 2;
        width: 90px;
        height: 30px;
        position: relative;
        top: -17px;
        left: 0;
        padding: 0 12px 0 12px;
        text-align: center;
        line-height: 30px;
        font-size: 25px;
    }

    div#kyoku-text::after {
        visibility: hidden;
    }

    @keyframes intro-banner {
        from {
            width: 0;
        }

        to {
            width: 90px;
        }
    }
} */

/* div#invite-button {
    display: table;
    background: #5050FF;
    margin: 10px 0 0 0;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}

span#invite-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 30px;
}

div#invite-button:hover {
    background: #3030FF;
}

div#invite-button:active {
    background: #0F0FFF;
} */
